{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}
    {% if letter_head and not no_letterhead %}
    <div class="letter-head">
        {{ letter_head }}
    </div>
    {% endif %}
   
    {%- if doc.meta.is_submittable and doc.docstatus==2-%}
    <div class="alert alert-danger text-center">
        <h4 style="margin: 0px;">{{ _("CANCELLED") }}</h4>
    </div>
    {%- endif -%}
    {% if max_pages > 1 %}
    <p class="text-right">
        {{ _("Page #{0} of {1}").format(page_num, max_pages) }}
    </p>
    {% endif %}
{%- endmacro -%}


{% if  doc.docstatus == 1 %}

{{ add_header(0,1,doc,letter_head, no_letterhead) }}

<div class="print-heading">
        <div class= "row">
            <div class="col-xs-6">
                <h2>Delivery Note<br>
                    <small>{{ doc.name }}</small>
                </h2>
            </div>
        
            <div class="col-xs-6 text-center">
                <div class="row">
                    <h2><br></h2>
                </div>
                <div class="row">
                    <h2><small>Customer Copy<small>
                    </small></h2>
                </div>
            </div>
        </div>
</div>

<div class="row">        
     <div class="col-xs-6">            
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer Name</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.customer }} 
            </div>
        </div>
        {%- if doc.tax_id -%}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>TRN</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.tax_id or ''}}
            </div>
        </div>
        {%- endif -%}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Billing Address</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.address_display or ''}}
            </div>
        </div>  
        
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Shipping Address</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.shipping_address or ''}}
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Contact</label>
            </div> 
            <div class="col-xs-7">
                {{ doc.contact_display or ''}}  {{ doc.contact_email or ''}} {{ doc.contact_mobile or ''}}
            </div>
        </div>     
    </div>

    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Date</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.get_formatted("posting_date") or ''}}
            </div>
        </div>

        {%- if doc.items[0].against_sales_order -%}

        {% set u = frappe.get_doc("Sales Order", doc.items[0].against_sales_order) %}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer's PO</label> 
            </div>
            <div class="col-xs-7 ">
                {{ u.po_no or ''}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer PO Date</label> 
            </div>
            <div class="col-xs-7 ">
                {{ u.get_formatted("po_date") or ''}}
            </div>
        </div>
        {%- endif -%}    
            
        <div class="row">
            <div class="col-xs-5 text-right">
                <label><b>Truck Number</b> 
                </label>
            </div>
            <div class="col-xs-7 ">\
                <big>{{ doc.lr_no or ''}}</big> 
            </div>
        </div>
        {% set user = frappe.get_doc("User", doc.owner) %}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label><b>Created By</b> 
                </label>
            </div>
            <div class="col-xs-7 ">
                <big>{{ user.first_name }} ({{ doc.owner }})</big> 
            </div>
        </div>


    </div>
            
</div>
    
<table class="table table-condensed table-hover table-bordered">
        <tr>
            <th>Sr</th>
            <th>Description</th>
            <th class="text-right">Quantity</th>

        </tr>
        {%- for row in doc.items -%}
        <tr>
            <td style="width: 13%;">{{ row.idx }}</td>
            <td style="width: 57%;">
  <!--  {% if row.in_format_data("image") and row.get("image") -%}
<div class="pull-left" style="max-width: 20%; margin-right: 10px;">
    <img src="{{ row.image }}" style="max-width: 100%">
</div>
{%- endif %}-->

            <!--    <b>{{ row.item_code or '' }} </b><br> -->
                {{ row.description or '' }}  
            </td>
            <td style="width: 30%; text-align: right;">
                {{ row.qty }}
            </td>
        </tr>
        {%- endfor -%}
</table>


{%- endif -%}


<br>

<div class="row">
     <div class="col-xs-12 text-left">
        <label>Received By</label>
    <br>
    <br>
        <label>Received By Signature</label>


     </div>
</div>



<div class="page-break"></div>



{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}
    {% if letter_head and not no_letterhead %}
    <div class="letter-head">
        {{ letter_head }}
    </div>
    {% endif %}
   
    {%- if doc.meta.is_submittable and doc.docstatus==2-%}
    <div class="alert alert-danger text-center">
        <h4 style="margin: 0px;">{{ _("CANCELLED") }}</h4>
    </div>
    {%- endif -%}
    {% if max_pages > 1 %}
    <p class="text-right">{{ _("Page #{0} of {1}").format(page_num, max_pages) }}</p>
    {% endif %}
{%- endmacro -%}


{% if  doc.docstatus == 1 %}

{{ add_header(0,1,doc,letter_head, no_letterhead) }}

<div class="print-heading">
        <div class= "row">
            <div class="col-xs-6">
                <h2>Delivery Note<br>
                    <small>{{ doc.name }}</small>
                </h2>
            </div>
        
            <div class="col-xs-6 text-center">
                <div class="row">
                    <h2><br></h2>
                </div>
                <div class="row">
                    <h2><small>Supplier Copy</small>
                    </h2>
                </div>
            </div>
        </div>
</div>

<div class="row">        
     <div class="col-xs-6">            
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer Name</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.customer }} 
            </div>
        </div>
        {%- if doc.tax_id -%}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>TRN</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.tax_id or ''}}
            </div>
        </div>
        {%- endif -%}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Billing Address</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.address_display or ''}}
            </div>
        </div>  
        
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Shipping Address</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.shipping_address or ''}}
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Contact</label>
            </div> 
            <div class="col-xs-7">
                {{ doc.contact_display or ''}}  {{ doc.contact_email or ''}} {{ doc.contact_mobile or ''}}
           </div>
        </div>     
    </div>

    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Date</label>
            </div>
            <div class="col-xs-7 ">\
                {{ doc.get_formatted("posting_date") or ''}}
            </div>
        </div>

        {%- if doc.items[0].against_sales_order -%}

        {% set u = frappe.get_doc("Sales Order", doc.items[0].against_sales_order) %}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer's PO</label> 
            </div>
            <div class="col-xs-7 ">
                {{ u.po_no or ''}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer PO Date</label> 
            </div>
            <div class="col-xs-7 ">
                {{ u.get_formatted("po_date") or ''}}
            </div>
        </div>
        {%- endif -%}    
            
        <div class="row">
            <div class="col-xs-5 text-right">
                <label><b>Truck Number</b> 
                </label>
            </div>
            <div class="col-xs-7 ">
                <big>{{ doc.lr_no or ''}}
                </big> 
            </div>
        </div>
        {% set user = frappe.get_doc("User", doc.owner) %}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label><b>Created By</b> 
                </label>
            </div>
            <div class="col-xs-7 ">
                <big>{{ user.first_name }} ({{ doc.owner }})</big> 
            </div>
        </div>


    </div>
            
</div>
    
<table class="table table-condensed table-hover table-bordered">
        <tr>
            <th>Sr</th>
            <th>Description</th>
            <th class="text-right">Quantity</th>

        </tr>
        {%- for row in doc.items -%}
        <tr>
            <td style="width: 13%;">{{ row.idx }}</td>
            <td style="width: 57%;">
  <!--  {% if row.in_format_data("image") and row.get("image") -%}
<div class="pull-left" style="max-width: 20%; margin-right: 10px;">
    <img src="{{ row.image }}" style="max-width: 100%">
</div>
{%- endif %}-->

             <!--   <b>{{ row.item_code or '' }} </b><br> -->
                {{ row.description or '' }}  </td>
            <td style="width: 30%; text-align: right;">{{ row.qty }}</td>
        </tr>
        {%- endfor -%}
   
</table>


{%- endif -%}


<br>

<div class="row">
    <div class="col-xs-12 text-left">
        <label>Received By</label>
        <br>
        <br>
        <label>Received By Signature</label>
    </div>
</div>


<div class="page-break"></div>




{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}
    {% if letter_head and not no_letterhead %}
    <div class="letter-head">
        {{ letter_head }}
    </div>
    {% endif %}
   
    {%- if doc.meta.is_submittable and doc.docstatus==2-%}
    <div class="alert alert-danger text-center">
        <h4 style="margin: 0px;">{{ _("CANCELLED") }}</h4>
    </div>
    {%- endif -%}
    {% if max_pages > 1 %}
    <p class="text-right">
        {{ _("Page #{0} of {1}").format(page_num, max_pages) }}
    </p>
    {% endif %}
{%- endmacro -%}


{% if  doc.docstatus == 1 %}

{{ add_header(0,1,doc,letter_head, no_letterhead) }}

<div class="print-heading">
    <div class= "row">
        <div class="col-xs-6">
            <h2>Delivery Note<br>
                <small>{{ doc.name }}</small>
            </h2>
        </div>
    
        <div class="col-xs-6 text-right">
            <h2><br></h2>
        </div>
    </div>
</div>

<div class="row">        
     <div class="col-xs-6">            
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer Name</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.customer }}
            </div>
        </div>
        {%- if doc.tax_id -%}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>TRN</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.tax_id or ''}}
            </div>
        </div>
        {%- endif -%}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Billing Address</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.address_display or ''}}
            </div>
        </div>  
        
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Shipping Address</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.shipping_address or ''}}
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Contact</label>
            </div> 
            <div class="col-xs-7">
                {{ doc.contact_display or ''}}  {{ doc.contact_email or ''}} {{ doc.contact_mobile or ''}}
            </div>
        </div>     
    </div>

    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Date</label>
            </div>
            <div class="col-xs-7 ">
                {{ doc.get_formatted("posting_date") or ''}}
            </div>
        </div>

        {%- if doc.items[0].against_sales_order -%}

        {% set u = frappe.get_doc("Sales Order", doc.items[0].against_sales_order) %}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer's PO</label> 
            </div>
            <div class="col-xs-7 ">
                {{ u.po_no or ''}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5 text-right">
                <label>Customer PO Date</label> 
            </div>
            <div class="col-xs-7 ">
                {{ u.get_formatted("po_date") or ''}}
            </div>
        </div>
        {%- endif -%}    
            
        <div class="row">
            <div class="col-xs-5 text-right">
                <label><b>Truck Number</b> 
                </label>
            </div>
            <div class="col-xs-7 ">
                <big>{{ doc.lr_no or ''}}</big> 
            </div>
        </div>
        {% set user = frappe.get_doc("User", doc.owner) %}
        <div class="row">
            <div class="col-xs-5 text-right">
                <label><b>Created By</b> 
                </label>
            </div>
            <div class="col-xs-7 ">
                <big>{{ user.first_name }} ({{ doc.owner }})</big> 
            </div>
        </div>


    </div>
            
</div>
    
<table class="table table-condensed table-hover table-bordered">
        <tr>
            <th>Sr</th>
            <th>Description</th>
            <th class="text-right">Quantity</th>

        </tr>
        {%- for row in doc.items -%}
        <tr>
            <td style="width: 13%;">{{ row.idx }}</td>
            <td style="width: 57%;">
   

               <!-- <b>{{ row.item_code or '' }} </b><br> -->
                {{ row.description or '' }}  
            </td>
                <td style="width: 30%; text-align: right;">
                    {{ row.qty }}
                </td>
            
        </tr>
        {%- endfor -%}
    
</table>


{%- endif -%}


<br>

<div class="row">
    <div class="col-xs-12 text-left">
        <label>Received By</label>
        <br>
        <br>
        <label>Received By Signature</label>
    </div>
</div>